{if $bulletpoints}
    <ul n:inner-foreach="$bulletpoints as $bulletpoint" class="list-group">
        <li id="bulletpoint-{$bulletpoint->id()}" class="list-group-item">
            {control bulletpoints-{$bulletpoint->id()}}
        </li>
    </ul>
{/if}