{snippet}
    <div class="row">
        {if $comment->visible()}
            <div id="komentar-{$comment->id()}">
                <div class="next-to-image">
                    {control profilePhoto}
                </div>
                <p>
                    <strong>{$comment->author()->username()}</strong>
                    <a class="no-link"
                       href="{plink this}#komentar-{$comment->id()}"><em>Zveřejněno
                            dne {$comment->date()->format('j.n.Y H:i')}</em></a>
                </p>
                <p>{$comment->content()|noescape|texy}</p>
                {if $identity->id() === $comment->author()->id()}
                    <a class="no-link" title="Upravit komentář"
                       href="{plink Komentar:Upravit $comment->id(), backlink => $backlink}">
                        <span class="glyphicon glyphicon-pencil"
                              aria-hidden="true"></span>
                    </a>
                {else}
                    {if $user->isAllowed('discussion-discussion', 'stezovat!')}
                        {var complained = false}
                        {foreach $complaints as $complaint}
                            {if $complaint->target()->id() === $comment->id()}
                                {var complained = true}
                            {/if}
                        {/foreach}
                        {if !$complained}
                            <a class="text-right ajax no-link darken"
                               title="Nahlásit jako spam" n:href="stezovat! spam">
                                Spam
                            </a>
                            &nbsp;
                            <a class="text-right ajax no-link darken"
                               title="Nahlásit jako vulgaritu" n:href="stezovat! vulgarita">
                                Vulgarita
                            </a>
                        {/if}
                    {/if}
                {/if}
                {if $user->isAllowed('discussion-discussion', 'smazat!')}
                    &nbsp;
                    <a class="ajax no-link red" n:href="smazat!">
                        ✖
                    </a>
                {/if}
            </div>
        {else}
            <div class="darken" id="komentar-{$comment->id()}">
                <div class="next-to-image">
                    {control profilePhoto}
                </div>
                <p>
                    <strong>{$comment->author()->username()}</strong>
                    <a class="no-link"
                       href="{plink this}#komentar-{$comment->id()}"><em>Zveřejněno
                            dne {$comment->date()->format('j.n.Y H:i')}</em></a>
                </p>
                <p class="text-muted"><em>Komentář byl smazán správcem
                        webu</em></p>
            </div>
        {/if}
        <hr>
    </div>
{/snippet}