<table class="table table-hover">
    <thead>
    <tr>
        <th><p>#</p></th>
        <th><p>Kritik</p></th>
        <th><p>Důvod</p></th>
        <th><p>Řešení</p></th>
    </tr>
    </thead>
    <tbody>
    <tr n:foreach="$complaints as $complaint">
        <td><p>{$iterator->counter}</p></td>
        <td>
            <p>
                <a href="{plink Profil: $complaint->complainer()->username()}">
                    {$complaint->complainer()->username()}
                </a>
            </p>
        </td>
        <td><p>{$complaint->reason()}</p></td>
        <td><a class="btn btn-success"
                    n:href="vyresit! $complaint->id()"
               role="button">Vyřešit</a></td>
    </tr>
    </tbody>
</table>
<hr>
<h2>Verdikt</h2>
<a class="btn btn-danger"
        n:href="smazat!"
   role="button">Smazat komentář</a>
<a class="btn btn-success"
        n:href="vyresitVse!"
   role="button">Označit jako vyřešené</a>