<h2>Nový dokument od
    <a class="no-link" href="{plink Profil: $username}">{$username}</a>
</h2>
{control profilePhoto:center}
<blockquote>
    <p>{$description|noescape|texy}</p>
    <small>
        {control informationSource}
    </small>
</blockquote>
<a class="btn btn-primary"
   href="{plink NavrhnutyDokument:upravit, $id}" role="button">Upravit</a>
<a class="btn btn-success" n:href="prijmout!"
   role="button">✔</a>
<a class="btn btn-danger" n:href="odmitnout!"
   role="button">✖</a>
