<form n:name="form" enctype="multipart/form-data" class="form-horizontal" role="form">
    <div class="form-group">
        <input n:name="photo">
    </div>
    <div class="form-group">
        <button n:name="act" class="btn btn-success">
            Nahrát
        </button>
    </div>
</form>