<a href="{plink Profil: $owner->username()}">
    <img width="64" height="64" src="{$basePath}/{$photo}"
         class="img-responsive img-circle {$class}"
         alt="{$owner->username()}"
         title="Veřejný profil uživatele {$owner->username()}">
</a>