<a href="{plink Profil: $username}">
    <img width="64" height="64" src="{$basePath}/{$photo}"
         class="img-responsive img-circle {$class}"
         alt="{$username}"
         title="Veřejný profil uživatele {$username}">
</a>