<form n:name="form" role="form" class="form-horizontal">
    <div class="form-group">
        {label reason /}
        {input reason class => "form-control"}
    </div>
    <div class="form-group">
        {label expiration /}
        {input expiration class => "form-control", id => "datetimepicker"}
    </div>
    <div class="form-group">
        {input punish class => "btn btn-danger"}
    </div>
</form>