{block content}
{define description}Detail navrženého bulletpointu{/define}
<h1>{block title}Návrh bulletpointu k dokumentu
    <a class="no-link" n:href="Dokument: $template->webalize($document->title())">
        <strong>{$document->title()}</strong></a>{/block}</h1>
{control bulletpointProposal}
<h2>Stávající bulletpointy</h2>
<div class="row">
    <div class="col-sm-6">
        {control bulletpoints}
    </div>
</div>
