{
  "parser": "babel-eslint",
  "extends": [
    "airbnb"
  ],
  "rules": {
    "no-else-return": 0, // weird
    "no-alert": 0, // I use confirm
    "react/destructuring-assignment": 0, // used for dispatch, ..
    "react/jsx-one-expression-per-line": 0,
    "jsx-a11y/no-autofocus": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "jsx-a11y/label-has-for": 0,
    "import/prefer-default-export": 0, // Multiple exports because of Redux state and tests
    "no-shadow": 0, // Shadowing is a nice language feature. Naming is hard.
    "camelcase": 0, // API calls are snake_case
    "react/jsx-filename-extension": 0, // No, JSX belongs to .js files
    "react/require-default-props": 0, // Does not work with API - first call is undefined
    "react/no-array-index-key": 0, // TODO: not always unique
    "no-nested-ternary": 0, // Useful in templates
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": [
          "Link"
        ],
        "specialLink": [
          "to"
        ],
        "aspects": [
          "noHref"
        ]
      }
    ]
  },
  env: {
    browser: true,
    // because of document in tests,
    jest: true
  }
}
