!.htaccess
composer.lock
vendor/*
*.expected
*.actual
.idea
.phpintel
tests/coverage/*Coverage.html
tests/*/*/*/temp
www/images/profile_images/*.png
www/images/profile_images/default/*.png
!www/images/profile_images/default/profile.png
config.local.neon