includes:
	- vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
	exceptionRules:
		checkedExceptions:
			- UnexpectedValueException
	ignoreErrors:
		# Fakes, intentional fails
		- '~Method Bulletpoint\\Domain\\FakeUser::id\(\) should return int but returns int\|null~'
		- '~Method Bulletpoint\\Domain\\FakeUser::properties\(\) should return array but returns array\|null~'