{block content}
{define description}Návrhy{/define}
{define title}Návrhy{/define}
<div class="btn-group btn-group-justified">
    <a n:href="Navrhy:Dokumenty" class="btn btn-default">Dokumenty</a>
    <a n:href="Navrhy:Bulletpointy" class="btn btn-default">Bulletpointy</a>
</div>
