includes:
	- vendor/phpstan/phpstan-strict-rules/rules.neon
	# - vendor/pepakriz/phpstan-exception-rules/extension.neon TODO: enable
parameters:
	exceptionRules:
		checkedExceptions:
			- UnexpectedValueException
	ignoreErrors:
		# Wait for PHP 7.3 solution
		- '~Parameter #1 \$json of function json_decode expects string, string\|false given\.~'

		# Fakes, intentional fails
		- '~Method Bulletpoint\\Domain\\Access\\FakeUser::id\(\) should return string but returns string\|null~'
		- '~Method Bulletpoint\\Domain\\Access\\FakeUser::properties\(\) should return array but returns array\|null~'
		- '~Method Bulletpoint\\Domain\\Access\\FakeEntrance::enter\(\) should return Bulletpoint\\Domain\\Access\\User but returns Bulletpoint\\Domain\\Access\\User\|null~'
		- '~Method Bulletpoint\\Domain\\Access\\FakeEntrance::exit\(\) should return Bulletpoint\\Domain\\Access\\User but returns Bulletpoint\\Domain\\Access\\User\|null~'
		- '~Method Bulletpoint\\Scheduling\\FakeJob::name\(\) should return string but returns string\|null\.~'