includes:
	- vendor/phpstan/phpstan-strict-rules/rules.neon
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon
	# - vendor/pepakriz/phpstan-exception-rules/extension.neon TODO: enable
parameters:
	ignoreErrors:
		# Fakes, intentional fails
		- '~Method .+Fake.+::.+\(\) should return .+ but returns .+\|null~'
