includes:
	- vendor/phpstan/phpstan-strict-rules/rules.neon
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon
parameters:
	checkMissingIterableValueType: false
	ignoreErrors:
		- '~.+expects Klapuch\\Storage\\Connection, Klapuch\\Storage\\Connection\|null given\.$~' # because GC
		- '~^Cannot call method prepare\(\) on Klapuch\\Storage\\Connection\|null\.$~' # because GC
		-
			path: 'Tests/Unit/Response/PaginatedResponseTest.php'
			message: '~^.+ should return .+ but return .+$~'
