includes:
	- vendor/phpstan/phpstan-strict-rules/rules.neon
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon
	# - vendor/pepakriz/phpstan-exception-rules/extension.neon TODO: enable
parameters:
	ignoreErrors:
		# Fakes, intentional fails
		- '~Method .+Fake.+::.+\(\) should return .+ but returns .+\|null~'

		- '~Parameter \#2 \$callback of function array_filter expects callable\(mixed, mixed\): bool, .strlen. given~'

services:
	-
		class: SlamPhpStan\DateTimeImmutableAlteredAndUnusedRule
		tags:
			- phpstan.rules.rule
	-
		class: SlamPhpStan\GotoRule
		tags:
			- phpstan.rules.rule
	-
		class: SlamPhpStan\PhpUnitFqcnAnnotationRule
		tags:
			- phpstan.rules.rule
	-
		class: SlamPhpStan\StringToClassRule
		tags:
			- phpstan.rules.rule
	-
		class: SlamPhpStan\UnusedVariableRule
		tags:
			- phpstan.rules.rule
