{block content}
{define description}Přihlášení k registrovanému účtu{/define}
<div class="row">
    <h1>{block title}Přihlášení{/block}</h1>
</div>
{control loginForm}
<div class="row">
    <div class="col-sm-12 text-right">
        <a n:href="ZapomenuteHeslo:" class="no-link">
            Zapomněl jsem heslo</a>
    </div>
</div>