services:
    permission:
        class: Nette\Security\Permission
        setup:
            - addRole(guest)
            - addRole(member, guest) #member extends guest
            - addRole(administrator, member) #administrator extends member
            - addRole(creator)

            - addResource(Default)
            - addResource(Prochazet)
            - addResource(Prihlasit)
            - addResource(Odhlasit)
            - addResource(Dokument)
            - addResource(Registrace)
            - addResource(ZapomenuteHeslo)
            - addResource(Hledani)
            - addResource(Aktivace)
            - addResource(Profil)
            - addResource(Ucet)
            - addResource(searchForm)
            - addResource(editBulletpointForm)
            - addResource(loginForm-form)
            - addResource(photoChangeForm)
            - addResource(passwordChangeForm)
            - addResource(newDocumentForm)
            - addResource(bulletpoints-bulletpoints)
            - addResource(addBulletpointForm)
            - addResource(commentForm)
            - addResource(editCommentForm)
            - addResource(discussion-discussion)
            - addResource(comment)
            - addResource(punishment-punishmentForm-form)
            - addResource(punishment)
            - addResource(punishments-punishment)
            - addResource(role)
            - addResource(forgottenPasswordForm-form)
            - addResource(resetForm)
            - addResource(registrationForm-form)
            - addResource(informationSourceForm)
            - addResource(editProposalForm)
            - addResource(documentProposal)
            - addResource(bulletpointProposal)
            - addResource(complaints)
            - addResource(Moje)
            - addResource(Bulletpoint)
            - addResource(Komentar)
            - addResource(Zdroj)
            - addResource(Navrhy)
            - addResource(NavrhnutyBulletpoint)
            - addResource(NavrhnutyDokument)
            - addResource(Tresty)
            - addResource(Stiznosti)
            - addResource(Stiznost)

            - allow(guest, Default)
            - allow(guest, Prochazet)
            - allow(guest, Prihlasit)
            - allow(guest, Odhlasit)
            - allow(guest, Dokument, default)
            - deny(guest, Dokument, novy)
            - allow(member, Dokument, novy)
            - deny(guest, Dokument, upravit)
            - allow(guest, Registrace)
            - allow(guest, ZapomenuteHeslo)
            - allow(guest, Hledani)
            - allow(guest, Aktivace)
            - deny(member, Aktivace)
            - allow(guest, Profil)
            - deny(guest, Ucet)
            - allow(member, Ucet)
            - allow(guest, searchForm)
            - deny(guest, editBulletpointForm)
            - allow(member, editBulletpointForm)
            - allow(guest, loginForm-form)
            - deny(guest, photoChangeForm)
            - allow(member, photoChangeForm)
            - deny(guest, passwordChangeForm)
            - allow(member, passwordChangeForm)
            - deny(guest, newDocumentForm)
            - allow(member, newDocumentForm)
            - deny(guest, bulletpoints-bulletpoints)
            - allow(member, bulletpoints-bulletpoints)
            - deny(guest, addBulletpointForm)
            - allow(member, addBulletpointForm)
            - deny(guest, commentForm)
            - allow(member, commentForm)
            - deny(guest, editCommentForm)
            - allow(member, editCommentForm)
            - deny(guest, discussion-discussion, smazat!)
            - deny(guest, discussion-discussion, stezovat!)
            - allow(member, discussion-discussion, stezovat!)
            - deny(guest, comment, smazat!)
            - deny(guest, comment, stezovat!)
            - allow(member, comment, stezovat!)
            - deny(guest, punishment-punishmentForm-form)
            - deny(guest, punishment)
            - deny(guest, punishments-punishment)
            - deny(guest, role)
            - allow(guest, forgottenPasswordForm-form)
            - allow(guest, resetForm)
            - allow(guest, registrationForm-form)
            - deny(guest, informationSourceForm)
            - deny(guest, editProposalForm)
            - deny(guest, documentProposal)
            - deny(guest, bulletpointProposal)
            - deny(guest, complaints)
            - deny(guest, Moje)
            - allow(member, Moje)
            - deny(guest, Bulletpoint, pridat)
            - allow(member, Bulletpoint, pridat)
            - deny(guest, Komentar, upravit)
            - allow(member, Komentar, upravit)
            - deny(guest, Zdroj)
            - deny(guest, Navrhy)
            - deny(guest, NavrhnutyBulletpoint)
            - deny(guest, NavrhnutyDokument)
            - deny(guest, Tresty)
            - deny(guest, Stiznosti)
            - deny(guest, Stiznost)


            - allow(creator)
            - allow(administrator)