includes:
    - acl.neon

parameters:
php:
	date.timezone: Europe/Prague
application:
	errorPresenter: Chyba
	mapping:
		*: Bulletpoint\*Module\Page\*Page

session:
	expiration: 14 days
	cookie_secure: 1
	use_strict_mode: 1
	cookie_httponly: 1

forms:
    messages:
        FILLED: "%label je pole, které musíte vyplnit"
        PROTECTION: "Prosím, proveďte operaci znova, došlo k vypršení časového limitu"

services:
	router: Bulletpoint\Router\RouterFactory::createRouter
	authenticator: Bulletpoint\Model\Access\Authenticator
	identity: @Bulletpoint\Model\Access\IdentityFactory::create()
	- Texy\Texy
	texy: Bulletpoint\Model\Text\PublishingFormat
	latte.latteFactory:
	    setup:
	        - addFilter('texy', [@texy, process])
	- Bulletpoint\Model\Access\IdentityFactory
	- Bulletpoint\Model\Security\AES256CBC(%cryptography.key%)
	- Bulletpoint\Model\Storage\PDODatabase(%database.host%, %database.user%, %database.pass%, %database.name%)
