<!DOCTYPE html>
<html lang="cs-cz">
<head>
    <meta charset="UTF-8"/>
    <meta name="robots" content="index, follow">
    <link href="{$basePath}/images/favicon32.png" rel="icon" type="image/png"/>
    <title>{ifset title}{include title|striptags|trim}{/ifset}</title>
    <meta name="description"
          content="{ifset description}{include description|striptags|trim|truncate:150}"{/ifset}>
    <meta name="author" content="Dominik Klapuch"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{$basePath}/css/opensans.min.css"
          type="text/css">
    <link rel="stylesheet" href="{$basePath}/css/bootstrap.min.css"
          type="text/css">
    <link rel="stylesheet" href="{$basePath}/css/style.min.css" type="text/css">
    {ifset styles}{include styles}{/ifset}
</head>
<body>
<div id="wrap">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" n:href="Default:"
                   title="bulletpoint"><strong>bulletpoint</strong></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {if $user->isInRole('admin') || $user->isInRole('creator')}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle"
                               title="Administrace" data-toggle="dropdown"
                               role="button" aria-expanded="false">Administrace
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a n:href="Navrhy:">Návrhy</a></li>
                                <li><a n:href="Tresty:">Tresty</a></li>
                                <li><a n:href="Stiznosti:">Stížnosti</a></li>
                            </ul>
                        </li>
                    {/if}
                    {if $user->loggedIn}
                        <li class="dropdown {ifCurrent Moje:*}active{/ifCurrent}">
                            <a href="#" class="dropdown-toggle" title="Moje"
                               data-toggle="dropdown" role="button"
                               aria-expanded="false">Moje <span
                                        class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li {ifCurrent Moje:dokumenty}class="active"{/ifCurrent}
                                    title="Moje dokumenty">
                                    <a n:href="Moje:dokumenty">Dokumenty</a>
                                </li>
                                <li {ifCurrent Moje:bulletpointy}class="active"{/ifCurrent}
                                    title="Moje bulletpointy">
                                    <a n:href="Moje:bulletpointy">Bulletpointy</a>
                                </li>
                            </ul>
                        </li>
                        <li {ifCurrent Dokument:novy}class="active"{/ifCurrent}
                            title="Nový dokument"><a n:href="Dokument:novy">Nový
                                dokument</a></li>
                        <li {ifCurrent Ucet:}class="active"{/ifCurrent}
                            title="Účet"><a n:href="Ucet:">Účet</a></li>
                        <li title="Odhlásit se"><a
                                    n:href="Odhlasit:">Odhlásit
                                se</a></li>
                    {else}
                        <li {ifCurrent Prihlasit:}class="active"{/ifCurrent}
                            title="Přihlásit se"><a n:href="Prihlasit:">Přihlásit
                                se</a></li>
                        <li {ifCurrent Registrace:}class="active"{/ifCurrent}
                            title="Registrace"><a
                                    n:href="Registrace:">Registrace</a></li>
                    {/if}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            {foreach $flashes as $flash}
                <div class="alert alert-dismissible alert-{$flash->type}">
                    {$flash->message|noescape|texy}
                </div>
            {/foreach}
        </div>
        {include content}
    </div>
</div>
<div id="footer">
    <div class="container">
        <p class="muted credit text-center">
            <a href="https://github.com/klapuch/bulletpoint" class="no-link"
               target="_blank">
                Created with <span id="heart">❤</span>
            </a>
        </p>
    </div>
</div>
<script src="{$basePath}/js/jquery.min.js" type="text/javascript"></script>
<script async src="{$basePath}/js/bootstrap.min.js"
        type="text/javascript"></script>
<script src="{$basePath}/js/nette.ajax.min.js"
        type="text/javascript"></script>
{ifset scripts}{include scripts}{/ifset}
</body>
</html>