{block content}
{define description}Detail konkrétní stížnosti{/define}
<h1>{block title}Stížnost{/block}</h1>
<hr>
<div class="jumbotron">
    {control comment}
</div>
<hr>
<h2>Ostatní</h2>
{control complaints}