{block content}
<div class="row">
    <h1>{block title}Znovuzaslání ověřovacího kódu{/block}</h1>
</div>
{define description}Znovuzaslání ověřovacího kódu k registrovanému účtu{/define}
{control reActivationForm}
