*:not(.glyphicon) {
	font-family: 'Open Sans', sans-serif !important;
}

body, html {
	height: 100%;
	color: #fff !important;
	background-color: #000 !important;
}

html {
	width: auto !important;
	overflow-x: hidden !important;
}

#wrap {
	min-height: 100%;
	height: auto !important;
	padding-bottom: 60px;
	margin: 0 auto -60px;
}

p {
	font-size: 13pt !important;
}

.form-control {
	font-size: 15px !important;
	color: #000 !important;
}

#footer {
	height: 60px;
	background-color: #000;
}

#footer p {
	margin-top: 15px;
	color: #fff;
}

.opposite-rating {
	color: #fff !important;
	font-weight: 700 !important;
	filter: brightness(35%);
	-moz-filter: brightness(35%);
	-webkit-filter: brightness(35%);
}

.opposite-rating:hover {
	filter: inherit;
	-webkit-filter: inherit;
	-moz-filter: inherit;
}

.next-to-image {
	float: left;
	margin-right: 10px;
}

.darken {
	filter: brightness(30%);
	-moz-filter: brightness(30%);
	-webkit-filter: brightness(30%);
}

.darken:hover {
	filter: inherit;
	-moz-filter: inherit;
	-webkit-filter: inherit;
}

.badge-guest {
	float: left !important;
	margin-right: 5px !important;
}

#heart {
	color: #EF6666;
}

@mediamax-width320px {
	#footer p {
		font-size: 1.05em !important;
	}
}

.btn-file {
	position: relative !important;
	overflow: hidden !important;
}

.btn-file input[type=file] {
	position: absolute !important;
	top: 0 !important;
	right: 0 !important;
	min-width: 100% !important;
	min-height: 100% !important;
	font-size: 100px !important;
	text-align: right !important;
	filter: alpha(opacity=0) !important;
	-moz-filter: alpha(opacity=0) !important;
	-webkit-filter: alpha(opacity=0) !important;
	opacity: 0 !important;
	outline: 0 !important;
	background: #fff !important;
	cursor: inherit !important;
	display: block !important;
}

small {
	color: #707070;
}

div.flash {
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 1em 0;
}

a[href^="#error:"] {
	background: red;
	color: white;
}

form th, form td {
	vertical-align: top;
	font-weight: normal;
}

form th {
	text-align: right;
}

form .required label {
	font-weight: bold;
}

form .error {
	color: #D00;
	font-weight: bold;
}

.no-link {
	text-decoration: none !important;
	color: inherit !important;
}

.red {
	color: #8f0000 !important;
}