{block content}
{define description}Výsledky hledání pro klíčové slovo {$keyword} {/define}
<div class="row">
    <h1>{block title}Výsledky pro {$keyword}...{/block}</h1>
    <p><small>Celkem nalezeno: {$count}</small></p>
    <hr>
</div>
{if $count}
    <div n:foreach="$documents->iterate() as $document" class="row">
        <a class="no-link" href="{plink Dokument: $template->webalize($document->title())}">
            <h2>{$document->title()}</h2>
        </a>
        <p>{$document->description()}</p>
        <a class="no-link" href="{plink Dokument: $template->webalize($document->title())}">
            Více...
        </a>
        <hr>
    </div>
{else}
    <p>Nebyly nalezeny žádné výsledky</p>
{/if}