<div class="row"><h1>{$title}</h1></div>
<form method="POST" class="form-horizontal" role="form">
	<input type="hidden" name="{$csrf->key()}" value="{$csrf->protection()}">
	<div class="form-group">
		<label>Email</label>
		<input type="text" name="email" value="{isset($email) ? $email : null}" class="form-control" placeholder="Email">
	</div>
	<div class="form-group">
		<button name="sendAgain" type="submit" class="btn btn-success">Zaslat</button>
	</div>
</form>
